body{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 40vh;
    background-color: bisque;
    background-image: url("https://wallpaperaccess.com/full/3845477.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
header div{
    width: 50%;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;;
}
h2{
    color: white;

}
.input_search{
    width: 50%;
    padding: 0.7rem;
    border: none;
    outline: none;
}

.btn__search{
    border: none;
    background-color: blue;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    color:white;
}