body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  .countdown-container {
    text-align: center;
    background-image: url('https://avatars.mds.yandex.net/i?id=eb6815537a89a5121b5b5a16e364e4deceb85cf9-10619913-images-thumbs&n=13');
    background-size: contain;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
    color: white;
    object-fit: cover;
  }
  
  #countdown {
    font-size: 2em;
    margin-bottom: 20px;
  }
  