body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: contain; /* Ensures the background covers the entire body */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repeating the background image */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  